{% extends 'template.html' %}

{% block title %}Friends | EAFINDERS{% endblock %}

{% block extra_css %}
<style>
    .friends-list {
        max-height: 400px;  /* Ajusta la altura máxima del contenedor */
        overflow-y: scroll; /* Permite el desplazamiento vertical */
        padding: 0;
        list-style-type: none;
    }

    .friend-item {
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Friends</h1>
    <p>This is the Friends page of EAFINDERS.</p>
    <ul class="friends-list">
        {% for friend in friends %}
        <li class="friend-item">
            {{ friend.person.first_name }} {{ friend.person.last_name }} (Added on {{ friend.added_on }})
            <form action="{% url 'delete_friend' friend.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
