{% extends 'template.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}
    <h1 class="display-4 text-center">Home</h1>
    <p class="lead text-center">Bienvenido a EAFINDERS</p>

    <h2 class="mt-5">Usuarios Registrados:</h2>
    <ul class="list-unstyled">
        {% for user in users %}
            <li class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center">
                    {% if user.foto_perfil %}
                        <img src="{{ user.foto_perfil.url }}" alt="Foto de perfil" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'default_profile.jpg' %}" alt="Foto de perfil" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
                    {% endif %}
                    <span class="h5">{{ user.nombres }} {{ user.apellidos }}</span>
                </div>
                <a href="{% url 'profile' user.id %}">
                    <button class="btn btn-primary">Ver Perfil</button>
                </a>
            </li>
        {% empty %}
            <li class="h5">No hay otros usuarios registrados.</li>
        {% endfor %}
    </ul>
{% endblock %}
