{% extends 'Template.html' %}

{% block title %}Foros{% endblock %}

{% block content %}
    <h1>Foros</h1>
    <a href="{% url 'crear_foro' %}" class="btn btn-primary mb-3">Crear nuevo foro</a>

    <ul class="list-group">
        {% for foro in foros %}
            <li class="list-group-item">
                <a href="{% url 'detalle_foro' foro.id %}">{{ foro.titulo }}</a>
                <small class="text-muted">Por {{ foro.autor.username }} el {{ foro.fecha_creacion }}</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
