{% extends 'template.html' %}
{% load static %}

{% block title %} Perfil de {{ profile_user.nombres }} {% endblock %}
{% block extra_styles %}
<style>
    .profile-pic {
        width: 150px; /* Ajusta el tamaño según tus necesidades */
        height: 150px; /* Ajusta el tamaño según tus necesidades */
        object-fit: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            {% if profile_user.foto_perfil %}
                <img src="{{ profile_user.foto_perfil.url }}" alt="Foto de perfil" class="img-fluid rounded-circle mb-3 profile-pic">
            {% else %}
                <img src="{% static 'default_profile.jpg' %}" alt="Foto de perfil" class="img-fluid rounded-circle mb-3 profile-pic">
            {% endif %}
            <h2>{{ profile_user.nombres }} {{ profile_user.apellidos }}</h2>
            <p class="text-muted">{{ profile_user.carrera }}</p>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información Personal</h5>
                    <p><strong>Email:</strong> {{ profile_user.email_institucional }}</p>
                    <p><strong>Semestre:</strong> {{ profile_user.semestre }}</p>
                    <p><strong>Biografía:</strong> {{ profile_user.biografia }}</p>

                    {% if son_amigos %}
                        <form method="post" action="{% url 'eliminar_amistad' profile_user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar Amistad</button>
                        </form>
                    {% elif solicitud_enviada %}
                        <button class="btn btn-secondary" disabled>Solicitud Enviada</button>
                    {% elif solicitud_recibida %}
                        <p class="text-warning">Este usuario te ha enviado una solicitud de amistad.</p>
                        <form method="post" action="{% url 'aceptar_solicitud_amistad' solicitud_id=solicitud_recibida.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Aceptar Solicitud</button>
                        </form>
                            <form method="post" action="{% url 'rechazar_solicitud_amistad' solicitud_recibida.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Rechazar Solicitud</button>
                            </form>
                    {% else %}
                        <form method="post" action="{% url 'enviar_solicitud_amistad' profile_user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Enviar Solicitud de Amistad</button>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
